.container-catalogo {
    padding: 48px 0;
}

.catalogo {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 32px;
}

.catalogo-title {
    font-size: 40px;
    color: var(--primaryColor);
    text-align: center;
    margin-bottom: 40px;
}

.card {
    width: 280px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.img-card {
    width: 270px;
    height: 300px;
}

.btn-comprar {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: var(--softPink);
    font-weight: 600;
    background-color: var(--primaryColor);
    transition: 0.3s ease-in-out;
}
.btn-comprar:hover{
    transform: scale(1.1);
}