.container-catalogo{
   padding: 48px 0;
}
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.catalogo-title {
  font-size: 40px;
  color: var(--primaryColor);
  text-align: center;
  margin-bottom: 40px;
}

.card {
  width: 220px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card {
  width: 100%;
  height: auto;
}

.btn-comprar {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}
