.section-welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    font-size: 10px;
    background-color: var(--primaryColor);
    color: var(--mainColor);
}

.navbar {
    display: flex;
    padding: 32px;
}

.navbar-img {
    width: 80px;
    height: 40px;
}

.navbarList {
    display: flex;
    gap: 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--textColor);
}

.navbar-item {
    text-decoration: none;
    color: var(--textColor);
}

.how-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.container-cards-buy {
    display: flex;
    gap: 32px;
    font-size: 12px;
}

.buy-item {
    max-width: 250px;
}