.section-welcome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    font-size: 10px;
    background-color: var(--primaryColor);
}
.navbar{
    display: flex;
    padding: 32px;
}
.navbar-img{
    width: 80px;
    height: 40px;
}
.navbarList{
    display: flex;
}
.navbar-item{
    text-decoration: none;
    color: var(--textColor);
}