:root{
    --primaryColor:#B76E79;
    --secondaryColor: #5A3E36;
    --tertiaryColor: #F4D9D6;
    --mainColor: #EDEDED;
    --textColor:#222121;
}

html{
    overflow-x: hidden;
}

body{
    font-family:"Lato", sans-serif;
    color: var(--textColor);
}


ul, p{
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Great Vibes", cursive;
}

